/* Global Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 86%;
  margin: 0 auto;
}

.half-wdth {
  width: 50%;
}

.highlight-text {
  color: #e67e22;
}

.common-btn {
  color: #fff;
  background: rgb(192, 57, 43);
  background: linear-gradient(
    356deg,
    rgba(192, 57, 43, 1) 0%,
    rgba(231, 76, 60, 1) 35%,
    rgba(230, 126, 34, 1) 100%
  );
  border: none;
  padding: 12px 35px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

/* Main Css */

/* Hero Section Start */
.hero-section {
  display: flex;
  align-items: center;
  margin-top: -30px;
}

.hero-section-text {
  margin-top: 50px;
}

.hero-heading {
  font-family: "Yeseva One", cursive;
  color: #333333;
  font-size: 40px;
  line-height: 50px;
  border-left: 5px solid #ff5959;
  padding-left: 10px;
}

.hero-text {
  width: 90%;
  font-size: 16px;
  margin-top: 20px;
}

.custom-btn {
  margin-top: 20px;
}

.hero-section-image img {
  width: 100%;
}

.scroll-text {
  font-size: 16px;
  margin-top: 15px;
}

/* Hero Section End */

/* Mission Section Start */
.mission-section {
  width: 100%;
  margin-top: 50px;
}

.mission-title h1 {
  font-size: 38px;
  color: #13103a;
  text-align: center;
  margin-bottom: 30px;
}

.mission-details {
  display: flex;
  justify-content: space-around;
}

.mission {
  width: 31.5%;
  border-radius: 8px;
  padding: 30px 15px;
}

.common-one {
  background-color: #4f9da62c;
}

.common-two {
  background-color: #ff595923;
}

.common-three {
  background-color: #fff4d6;
}

.mission-heading {
  margin-bottom: 13px;
}

.mission-img img {
  width: 35%;
}
/* Mission Section End */

/* Limit Section Start */
.without-limit {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.without-limit-img {
  width: 40%;
  margin-right: 50px;
}

.without-limit-img img {
  width: 100%;
}

.without-limit-items {
  width: 60%;
}

.without-limit-heading {
  margin-bottom: 20px;
  color: #333333;
}

.without-limit-text {
  margin-bottom: 20px;
}

/* Limit Section End */
